<% content_for :page_title, "Edit financial report for #{@organisation.name}" %>
<% content_for :title, "Edit financial report" %>
<% content_for :context, @organisation.name %>
<% content_for :title_margin_bottom, 8 %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @financial_report, url: {action: "update"} do |form| %>
      <%= render partial: "form_fields", locals: { form: form} %>
    <% end %>
  </div>
</div>
